@media (max-width: 1181px) {
 
  .header {
  &__search {
   display: none;
  }

  &__bg {
   display: none;
   &-tablet {
    display: block;
   }
  }
 }

 .topnav__btn {
  &_priority, &_covid {
   svg {
    display: none;
   }
   top: 3.5vw;
  } 
  &_priority {
   left: 38%;
  } 
  &_covid {
   left: 50%;
   height: 2.4vw;
  }
  &_portraits {
   left: 8vw;
   top: 3.5vw;
   svg {
    height: 3.2vw;
   }
  }
  &-text {
   font-weight: 600;
   letter-spacing: 0.05em;
  }
 } 

 .layout-link {
  &_home {
   top: 3.8vw;
   left: 5vw;

   &-bg {
    display: none;
   }

   li {
    width: 3.3vw;
    height: 3.3vw;
   }
  }
 }

 .header__link {
  &-bg {
   &-tablet {
     display: block;
   } 
 }
 }
 
 #rec_click {
  top: 2.5vw;
 }

 .block-bg_tablet {
  display: block !important;
 }
 .block-bg_desk {
  display: none;
 }
 .block-title {
  font-size: 1.5vw !important;
 }
 .block-bg {
  display: none;
 }


 .homepage {
  flex-direction: column;
  padding: 6vw 4.3vw 0;
  height: auto;
  div {
   section {
    margin: 0 !important;
   }
  }

  &__left {
   width: 100%;
   display: grid;
   grid-template-columns: 60vw 30vw;
   column-gap: 3vw;

   .finance {
    width: 60vw;

    .block-wrap {
     padding: 3.5vw 0;
    }

    &__main-data {
      left: 1.5vw;
      top: 5.5vw;
      height: 50%;
      position: absolute;
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;

      &__text {
        color: #627DAE;
        text-transform: uppercase;
        font-size: 0.8vw;
      }

      &__value {
        font-weight: 500;
        font-size: 1.2vw;
      }
    } 

    &__header {
     justify-content: start;
     margin-left: 10vw;
    }

    &__total {
     margin-left: 2.5vw;
     &-wrap {
      font-size: 1.5vw;
      letter-spacing: 0.05em;
      span {
       font-size: 1.5vw;
      }
     }
     &-descr {
      font-size: .8vw;
     }
    }

    &__body {
     flex-direction: row;
     padding-left: 16vw;
     width: fit-content;
     height: 12.5vw;
     &-item {
      padding: 0;
      width: 130%;
      height: 80%;
     }
    }

    &__legend {
      width: 22vw;
      padding-left: 2vw;
      padding-top: 0.4vw;
      &-descr {
        margin-left: 0.6vw;
        font-size: 0.9vw;
      }
      &-mark {
        width: 1.2vw;
        height: 1.1vw;
      }
    }

    &__diagram {
      &-value {
        display: none;
        &_tablet {
          display: block;
        }
      }
      &-data {
        width: 9.55vw;
        top: 40%
      }
      &-text {
        top: 70%;
        font-size: .7vw;
      }
    }
   }

   .science {
    position: relative;
    top: 2.7vw;
    width: 28vw;
    height: 35vw;

    .block-wrap {
      padding: 9vw 2vw 0 2vw;
    }

    &__main-data {
      left: 50%;
      transform: translate(-50%, -50%);
      top: 4vw;
      width: 100%;
      position: absolute;
      display: block;
      display: flex;
      justify-content: space-evenly;
      text-align: center;

      &__text {
        color: #627DAE;
        text-transform: uppercase;
        font-size: 0.8vw;
      }

      &__value {
        font-weight: 500;
        font-size: 1.2vw;
      }
    } 

    &__info {
      position: relative;
    }

    &__title {
      position: absolute;
    }

    &__plan, &__legend {
      position: relative;
      top: 2vw;
    }

    &__legend {
      &-item {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0.6vw;
      }
      &-sum {
        font-weight: 500;
        font-size: 1vw;
      }
      &-descr {
       font-size: 0.9vw; 
       line-height: 140%;
      }
    }

    &__plan {
      &-header {
        font-size: .9vw;
      }
      &-ratio {
        margin-top: 0.3vw;
        font-size: 1.5vw;
      }
      &-progressbar {
        width: 11.3vw;
        height: 2.4vw;
      }
      &-sum {
        color: #627DAE;
        font-size: 1vw;
      }
    }

    &__divider {
      top: 62%;
    }

    &__list {
      width: 50%;
      &-item {
        &-bg {
          display: none !important;
        }
        &-icon {
          width: 1vw;
          height: 1.2vw;
        }
        &-text {
          font-size: .9vw;
          color: #CDD6EE;
        }
      }
    }

    &__data-container {
      width: 50%;
      height: 80%;
    }

    &__diagram {
      top: -1vw;
      right: 2vw;
      &-month {
        &-text {
          font-size: .7vw;
        }
      }
    }
   }
  }
  &__middle {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 29.5vw;
    left: 50%;

   .main {
     display: none;

     &-tablet {
      .block-bg_tablet {
        display: block;
      }

      position: absolute;
      transform: translate(-50%, -50%);
      top: 121%;
      left: 50%;
      display: block;
      width: 28vw;
      height: 17vw;

      &__wrap {
        height: 100%;
        padding: 3vw 1.5vw 0;
      }

      &__data-block {
        height: 50%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
      }

      &__all-branches {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &-bg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        &-text {
          margin-top: 0.7vw;
          text-transform: uppercase;
          text-align: center;
          color: #217AFF;
          font-size: 0.9vw;
        }
      }

      &__all-students {
       &-descr {
        font-size: 1.5vw;
        text-transform: uppercase;
        letter-spacing: 0.05em;
       }
       &-value {
         font-size: 3.2vw;
       }
      }

      &__all-students, &__info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      &__info {
        &-text {
          color: #627DAE;
          text-transform: uppercase;
          font-size: 0.8vw;
        }
        &-value {
          font-weight: 500;
          font-size: 1.2vw;
        }
      }

      &__performance-diagram {
        margin-top: 1vw;
        &-descr {
          display: flex;
          align-items: center;
          font-size: 0.9vw;
          color: #FB9B2B;
          span {
            margin-left: 0.4vw;
            text-transform: uppercase;
            font-size: 0.9vw;
            font-weight: 400;
          }
        }
        &-value {
          font-size: 1.2vw;
          font-weight: 500;
        }
        &-progressbar {
          margin-top: 0.5vw;
          width: 100%;
        }
      }
    }
   }


   .students {
    left: 19vw;
    width: 28vw;

    &__employment, &__diagram {
      display: none;
    }

    &__title {
      text-align: start;
      line-height: 130%;
      font-size: 1.5vw;
    }

    &__teaching-load {
      height: 15vw;
      padding-left: 1.9vw;
      &-plan {
        display: flex;
      }
      &-hours {
        display: flex;
        padding-left: 6vw;
        font-size: 1vw;
        width: 11.5vw;
        justify-content: space-between;
      }
      &-progressbar {
        position: relative;
        top: 1vw;
        height: 2vw;
        gap: 10%;
        span {
          width: 0.8vw;
        }
      }
      &-fact {
        position: relative;
        top: 1.3vw;
      }
      &-ratio {
        font-size: 1.5vw;
      }
      &-title {
        margin-top: 0.3vw;
        font-size: 1vw;
      }
    }

    &__graphic {
      &-container {
        left: -2vw;
        position: relative;
        width: 15vw;
        height: fit-content;
      }
      &-item {
        grid-template-rows: 2.4vw;
        grid-template-columns: 5.1vw 1fr;
      }
      &-descr {
        font-size: 0.9vw;
        letter-spacing: .04em;
      }
      &-value {
        font-size: 0.8vw;
        right: -3vw;
        top: -0.9vw;
      }
      &-row {
        height: 270%;
      }
      &-right-rect {
        display: none;
      }
    }
   }
  }


  &__right {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 60vw;
    column-gap: 3vw;


    .international {
      top: 2.5vw;
      left: 0.6vw;
      position: relative;
      width: 28.3vw;
      height: 17vw;

      &__main-data {
        left: 3.5vw;
        transform: translate(-50%, -50%);
        top: 9vw;
        width: 100%;
        position: absolute;
        display: block;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        &__contains {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__text {
          color: #627DAE;
          text-transform: uppercase;
          font-size: 0.8vw;
        }

        &__value {
          font-weight: 500;
          font-size: 1.2vw;
        }

        &__icon {
          width: 1.3vw;
          height: 1.4vw;
        }
      } 

      &__divider, &__icon {
        display: none;
      }

      &__info {
        margin-left: 60%;
        height: 75%;
      }

      &__item {
        display: grid;
        grid-template-columns: 4vw 1fr;
      }

      &__descr {
        margin-left: 0;
        font-size: .8vw;
      }

      &__globus {
        top: -1.5vw;
        left: 5vw;
        width: 50%;
      }
    }


    .vaccination {
      width: 60vw;
      top: 2.4vw;
      left: -1.1vw;
      position: relative;

      .block-wrap {
        padding-left: 9vw;
      }

      &__main-data {
        left: 1.5vw;
        top: 3.5vw;
        height: 60%;
        position: absolute;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

        &__text {
          color: #627DAE;
          text-transform: uppercase;
          font-size: 0.8vw;
        }

        &__value {
          font-weight: 500;
          font-size: 1.2vw;
        }
      } 

      &__btn {
        display: block;
        width: 11vw;
        height: 10vw;
      }

      &__select {
        &-item {
          width: 11vw;
          height: 10vw;
          &-icon {
            display: none;
          }
          &-text {
            font-size: 1.3vw;
            line-height: 130%;
          }
        } 
      }

      &__legend {
        display: none;
      }

      &__grid {
        display: block;
      }

      &__title {
        margin-top: 3.4vw;
        max-width: 10vw
      }

      &__graphi—Å-value {
        font-size: 0.5vw;
      } 

      &__diagram {
        &-wrap {
          top: -4vw;
          width: 48.5%;
          height: 170%;
        }

        &-info {
          flex-direction: row;
          align-items: center;
          height: fit-content;
          margin-top: 3vw;
          width: 12vw;
        }

        &-value {
          font-size: 2.2vw;
          line-height: 130%;
        }

        &-descr {
          font-size: 1.1vw;
          margin-left: 0.5vw;
          line-height: 130%;
        }
      }
    }
  }
 }

 .calendar {
   &-unit {
     margin-top: 1vw;
   }
   
    &__month {
      &-progress-bar {
        width: 7vw;
      }
    }

   &-finance {
     bottom: 3vw;
     gap: 40vw;
     left: 56.5%;
   }
   &-science {
    bottom: 0.1vw;
    gap: 15.5vw;
   }
   &-students {
    bottom: -7.6vw;
    right: -6.3vw;
    gap: 15.5vw;
  }
  &-international {
    gap: 15.5vw;
    bottom: 0.1vw;
  }
  &-vaccination {
    bottom: 0.2vw;
    gap: 40vw;
    left: 56.5%;
  }
 }

 .footer {
  height: 8vw;
  bottom: 0;

  &__btns {
   bottom: 2vw;
   right: 8vw;
  }
 }
}